@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

html {
  overflow: scroll;
}

.detailsBtn {
  display: flex;
  justify-content: center;
  justify-items: center;
  padding: 1px;
  background: linear-gradient(to bottom, rgb(132, 12, 132),#cc12ff);
}

/* 
.activeBtn{
  background: white;
  font-weight: bold;
  color: #9538E2;
  } */